controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Route pour la connexion API (génération du token JWT)
api_login_check:
    path: /api/login
