@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* ----------- VARIABLES ---------- */

:root {
    --color-primary: #497555;
    --color-secondary: #565656;
    --color-background: #fffdf7;
    --color-background-secondary: #f6f5f0;
    --color-background-tertiary: #e8f0e3;
    --color-text: #333333;
    --color-text-secondary: #666666;
    --header-height: 81px;
    --footer-height: 81px;
    --grid-gallerie-number-vert-items: 3;
}

/* -----------GLOBAL---------- */

/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Universal reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* Basic body styling */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* Links */
a {
    text-decoration: none;
}

/* Buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    color: var(--color-background);
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--color-primary);
}

/* -----------LAYOUT---------- */

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 101px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 52px;
}

nav ul a {
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav ul a:hover,
nav ul a.active {
    color: var(--color-primary);
}

nav ul a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--color-primary);
    transition: width 0.3s ease-in-out;
}

nav ul a:hover::after,
nav ul a.active::after {
    width: 100%;
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--footer-height);
    padding: 0 89px;
    background-color: var(--color-background-secondary);
}

/* ----------- HOMEPAGE ---------- */

/* Banner */
.banner {
    display: flex;
    width: 100%;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-background-tertiary);
}

.banner-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text-wrapper {
    width: 362px;
}

.banner-text h1 {
    font-size: 4.2rem;
    font-weight: 500;
    margin-bottom: 38px;
}

.banner-text p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.banner-image {
    flex: 1;
}

.banner-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

/* Product List */
.productList {
    display: flex;
    flex-direction: column;
}

.productList h2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    height: 91px;
    font-weight: 500;
    text-transform: uppercase;
}

.productList-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-gallerie-number-vert-items), 1fr);
}

.productList-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productList-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.productList-item h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.productList-item .description {
    margin-bottom: 20px;
    color: var(--color-text-secondary);
}

.productList-item .price {
    margin-bottom: 20px;
}

.productList-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    transition: background-color 0.3s ease-in-out;
}

.productList-item .link:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

/* ----------- AUTH ---------- */

.authContainer {
    display: flex;
}

.authContainer-image {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 50%;
    overflow: hidden;
}

.authContainer-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.authContainer-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 80px 113px 143px 80px;
}

.authContainer-form h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.authContainer-form p {
    margin-bottom: 24px;
    color: var(--color-text-secondary);
}

.authContainer-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.authContainer-form .form-group label {
    margin-bottom: 10px;
    color: var(--color-text-secondary);
}

.authContainer-form .form-group input {
    height: 67px;
    border: 1px solid var(--color-text-secondary);
    background-color: var(--color-background);
    padding: 0 20px;
}

.authContainer-form .form-group input:focus {
    outline: 1px solid var(--color-primary);
}

.authContainer-form .link {
    text-align: center;
    margin-top: 27px;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.authContainer-form .link:hover {
    color: var(--color-primary);
}

.authContainer-form .form-group-cgu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 7px;
    margin-bottom: 40px;
}

.authContainer-form .form-group-cgu input[type="checkbox"] {
    width: 19px;
    height: 19px;
    accent-color: var(--color-primary);
}

/* ----------- PRODUCT ---------- */

.productContainer {
    display: flex;
}

.productContainer-image {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 50%;
    overflow: hidden;
}

.productContainer-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productContainer-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 87px 120px;
}

.productContainer-info {
    display: flex;
    flex-direction: column;
}

.productContainer-info h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.productContainer-info .price {
    font-size: 1.9rem;
    color: var(--color-text);
    margin-bottom: 50px;
}

.productContainer-info .label {
    font-size: 0.6rem;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
}

.productContainer-info .description {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}
