@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* ----------- VARIABLES ---------- */

:root {
    --color-primary: #497555;
    --color-secondary: #565656;
    --color-background: #fffdf7;
    --color-background-account: #f7f1ec;
    --color-background-product-conviction: #ebe3d3;
    --color-background-secondary: #f6f5f0;
    --color-background-tertiary: #e8f0e3;
    --color-text: #333333;
    --color-text-secondary: #666666;
    --header-height: 81px;
    --footer-height: 81px;
    --grid-gallerie-number-vert-items: 3;
}

/* -----------GLOBAL---------- */

/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Universal reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* Basic body styling */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 0.88rem;
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* Links */
a {
    text-decoration: none;
}

/* Buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    color: var(--color-background);
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--color-primary);
}

.alert-danger {
    color: red;
    margin-bottom: 20px;
}

/* -----------LAYOUT---------- */

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 101px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 52px;
}

nav ul a {
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav ul a:hover,
nav ul a.active {
    color: var(--color-primary);
}

nav ul a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--color-primary);
    transition: width 0.3s ease-in-out;
}

nav ul a:hover::after,
nav ul a.active::after {
    width: 100%;
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--footer-height);
    padding: 0 89px;
    background-color: var(--color-background-secondary);
}

/* ----------- HOMEPAGE ---------- */

/* Banner */
.banner {
    display: flex;
    width: 100%;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-background-tertiary);
}

.banner-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text-wrapper {
    width: 362px;
}

.banner-text h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 38px;
}

.banner-text p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.banner-image {
    flex: 1;
}

.banner-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

/* Product List */
.productList {
    display: flex;
    flex-direction: column;
}

.productList h2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    height: 91px;
    font-weight: 500;
    text-transform: uppercase;
}

.productList-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-gallerie-number-vert-items), 1fr);
}

.productList-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productList-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.productList-item h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.productList-item .description {
    margin-bottom: 20px;
    color: var(--color-text-secondary);
}

.productList-item .price {
    margin-bottom: 20px;
}

.productList-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    transition: background-color 0.3s ease-in-out;
}

.productList-item .link:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.productConviction {
    height: 646px;
    background-color: var(--color-background-product-conviction);
    display: flex;
}

.productConviction-textWrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
    padding: 40px;
}

.productConviction-textWrapper h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.productConviction-textWrapper p {
    max-width: 425px;
    font-weight: 300;
}

.productConviction-imageWrapper {
    width: 487px;
}

.productConviction-imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.productValeur {
    height: 646px;
    background-color: var(--color-background-tertiary);
    display: flex;
}

.productValeur-textWrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 40px;
}

.productValeur-textWrapper h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.productValeur-textWrapper p {
    max-width: 425px;
    font-weight: 300;
}

.productValeur-imageWrapper {
    width: 487px;
}

.productValeur-imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* ----------- AUTH ---------- */

.authContainer {
    display: flex;
}

.authContainer-image {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 50%;
    overflow: hidden;
}

.authContainer-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.authContainer-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 80px 113px 143px 80px;
}

.authContainer-form h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.authContainer-form p {
    margin-bottom: 24px;
    color: var(--color-text-secondary);
}

.authContainer-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.authContainer-form .form-group label {
    margin-bottom: 10px;
    color: var(--color-text-secondary);
}

.authContainer-form .form-group input {
    height: 67px;
    border: 1px solid var(--color-text-secondary);
    background-color: var(--color-background);
    padding: 0 20px;
}

.authContainer-form .form-group input:focus {
    outline: 1px solid var(--color-primary);
}

.authContainer-form .link {
    text-align: center;
    margin-top: 27px;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.authContainer-form .link:hover {
    color: var(--color-primary);
}

.authContainer-form .form-group-cgu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 7px;
    margin-bottom: 40px;
}

.authContainer-form .form-group-cgu input[type="checkbox"] {
    width: 19px;
    height: 19px;
    accent-color: var(--color-primary);
}

/* ----------- PRODUCT ---------- */

.productContainer {
    display: flex;
}

.productContainer-image {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 50%;
    overflow: hidden;
}

.productContainer-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productContainer-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 87px 120px;
}

.productContainer-info {
    display: flex;
    flex-direction: column;
}

.productContainer-info h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.productContainer-info .price-quantity {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.productContainer-info .price {
    font-size: 1.9rem;
    font-weight: 300;
    color: var(--color-text);
}

.productContainer-info .quantity {
    font-size: 0.9rem;
    color: var(--color-primary);
}

.productContainer-info input[type="number"] {
    width: 70px;
    height: 100%;
    text-align: right;
    font-size: 1.2rem;
    border: 1px solid var(--color-text-secondary);
    border-radius: 5px;
    background-color: var(--color-background);
    padding: 7px 5px;
}

.productContainer-info input[type="number"]:focus {
    outline: 1px solid var(--color-primary);
}

.productContainer-info .label {
    font-size: 0.6rem;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
}

.productContainer-info .description {
    color: var(--color-text-secondary);
}

/* ----------- CART ---------- */

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-background-account);
}

.cartContainer-wrapper {
    width: 604px;
    margin: 102px auto 146px auto;
}

.cartContainer-wrapper h1 {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.cartContainer-wrapper .linkBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text-secondary);
    margin-bottom: 16px;
}

.cartContainer-wrapper .linkBtn:hover {
    color: var(--color-primary);
}

.cartList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 29px;
}

.cartList-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 55px;
    background-color: var(--color-background);
    padding: 40px;
}

.cartList-item img {
    height: 132px;
    width: 142px;
    object-fit: cover;
}

.cartList-item .infos {
    display: flex;
    flex-direction: column;
}

.cartList-item .infos h2 {
    color: black;
    font-weight: 600;
    margin-bottom: 6px;
}

.cartList-item .infos .quantity {
    color: var(--color-text-secondary);
    margin-bottom: 13px;
}

.cartList-item .infos .price {
    font-size: 1.2rem;
    font-weight: 500;
}

.cartList-total {
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color-background);
    padding-right: 38px;
}

.cartList-total .totalPrice {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 6px;
}

.cartList-total .totalPrice .totalPrice-text {
    font-weight: 500;
}

.cartList-total .totalPrice .totalPrice-price {
    font-size: 1.3rem;
}

.cartList-total .livraison {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}

.cartContainer-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cartContainer-button .btn {
    width: 479px;
}

/* ----------- ORDER ---------- */

.orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-background-account);
}

.orderContainer-wrapper {
    width: 604px;
    margin: 43px auto 77px auto;
}

.orderContainer-wrapper h1 {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 43px;
}

.orderCard-List {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.orderCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    background-color: var(--color-background);
    padding: 60px;
}

.orderCard h2 {
    color: black;
    font-weight: 600;
}

.orderCard-orderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.orderCard-orderList table {
    width: 100%;
    border-spacing: 0 20px;
}

.orderCard-orderList th {
    color: var(--color-text-secondary);
}

.orderCard-orderList th:nth-child(1),
.orderCard-orderList td:nth-child(1) {
    width: 35%;
    text-align: left;
}

.orderCard-orderList th:nth-child(2),
.orderCard-orderList td:nth-child(2) {
    width: 20%;
    text-align: left;
}

.orderCard-orderList th:nth-child(3),
.orderCard-orderList td:nth-child(3) {
    width: 45%;
    text-align: right;
}

.orderCard-orderList th:nth-child(3) {
    padding-right: 30px;
}

.orderCard-orderList tr:not(:last-child) td {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 30px;
}

.orderCard-orderList td {
    font-weight: 500;
}

.orderContainer-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.orderContainer-button .btn {
    width: 479px;
}

/* ----------- ERROR ---------- */

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--color-background-tertiary);
    text-align: center;
}

.error-container h1 {
    font-size: 8rem;
    color: var(--color-primary);
    font-weight: 300;
    margin-top: 100px;
}

.error-container .error-message {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 50px;
}

.error-container .error-description {
    color: var(--color-text-secondary);
    margin-bottom: 40px;
}

.error-container .btn {
    width: 479px;
}

/* ----------- FORM CUSTOM THEME ---------- */

.form-errors {
    color: #dc3545 !important;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: block;
}

.form-errors span {
    display: block;
    margin: 0;
    padding: 0.25rem 0;
    color: #dc3545 !important;
}

/* Champ en erreur - bordure rouge */
.form-group:has(.form-errors) input,
.form-group:has(.form-errors) select,
.form-group:has(.form-errors) textarea {
    border-color: #dc3545 !important;
}

/* Animation d'apparition de l'erreur */
.form-errors {
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
