@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Courier New", Courier, monospace;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}

body {
    background-color: #fffdf7;
}

main {
    min-height: calc(100vh - 162px);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navigation */

header {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 81px;
    padding: 0 101px;
    box-sizing: border-box;
}

.nav__logo {
    transition: transform 0.3s ease-in-out;
}

.nav__logo:hover {
    transform: scale(1.1);
}

.nav__links {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.nav__links a {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav__links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #497555;
    transition: width 0.3s ease-in-out;
}

.nav__links a:hover {
    color: #497555;
}

.nav__links a.active {
    color: #497555;
}

.nav__links a:hover::after {
    width: 100%;
}

.nav__links a.active::after {
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    height: 81px;
    padding: 0 89px;
    background-color: #f6f5f0;
}

/* HOMEPAGE */

/* Welcome Container */
.welcomeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: calc(100vh - 162px);
    background-color: #e8f0e3;
}

.welcomeContainer__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeContainer__text--wrapper {
    width: 362px;
}

.welcomeContainer__text h1 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 38px;
}

.welcomeContainer__text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
}

.welcomeContainer__image {
    flex: 1;
}

.welcomeContainer__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

/* Welcome Produit Container */
.welcomeProduitContainer {
    display: flex;
    flex-direction: column;
}

.welcomeProduitContainer__title {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    height: 91px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.welcomeProduitContainer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.welcomeProduitContainer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeProduitContainer__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.welcomeProduitContainer__item--name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.welcomeProduitContainer__item--description {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666666;
}

.welcomeProduitContainer__item--price {
    font-size: 14px;
    margin-bottom: 20px;
}

.welcomeProduitContainer__item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.welcomeProduitContainer__item--link:hover {
    background-color: #497555;
    color: #ffffff;
}

/* INSCRIPTION */

/* Inscription Container */
.inscriptionContainer {
    display: flex;
    flex-direction: row;
}

.inscriptionContainer__image {
    position: relative;
    min-height: calc(100vh - 162px);
    width: 50%;
    overflow: hidden;
}

.inscriptionContainer__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 80px 113px 143px 80px;
}

.inscriptionContainer__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.inscriptionContainer__form h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.inscriptionContainer__form p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #666666;
}

.inscriptionContainer__form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.inscriptionContainer__form .form-group-cgu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    gap: 7px;
    margin-bottom: 40px;
}

.inscriptionContainer__form .form-group-cgu input[type="checkbox"] {
    width: 19px;
    height: 19px;
    accent-color: #497555;
}

.inscriptionContainer__form .form-group label {
    margin-bottom: 10px;
    color: #666666;
}

.inscriptionContainer__form .form-group input {
    width: 100%;
    height: 67px;
    font-size: 14px;
    border: 1px solid #666666;
    background-color: #fffdf7;
    padding: 0 20px;
}

.inscriptionContainer__form .form-group input:focus {
    border: 2px solid #497555;
    outline: none;
}

.inscriptionContainer__form button {
    width: 100%;
    height: 77px;
    color: #ffffff;
    background-color: #565656;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.inscriptionContainer__form button:hover {
    background-color: #497555;
}

.inscriptionContainer__form--link {
    text-align: center;
    margin-top: 27px;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.inscriptionContainer__form--link:hover {
    color: #497555;
}

/* LOGIN */
