{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Page Not Found{% endblock %}

{# 
Ne s'affiche qu'en production, lorsque une page 404 est rencontrée. 
Pour l'afficher 
- allez sur l'url http://127.0.0.1:8000/_error/404 en dev,
ou
- passez en prod avec APP_ENV=prod apres compilation des assets. 
#}

{% block body %}
<div class="error-container">
    <div>
        <h1>404</h1>
        <p class="error-message">Not Found</p>
        <p class="error-description">La page que vous recherchez n'existe pas ou a été déplacée.</p>
    </div>
    <a href="{{ path('app_accueil') }}" class="btn">Retour à l'accueil</a>
</div>
{% endblock %}
